/* Defaults */

img,
video {
  width: 100%;
  height: auto;
}

html {
  background-color: #faf9f2;
  color: #381d2a;
}

p {
  font-family: "Raleway", sans-serif;
}

/* header */

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

header.grid.main {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-width: auto;
}

h1.logo {
  padding: 1rem 2rem;
  font-family: "DM Serif Text", serif;
  font-size: 1.953rem;
  color: #381d2a;
}

form.header-search {
  margin: 1rem;
  border-radius: 40px;
  border-color: #381d2a;
  border: 1.75px solid;
}

input.search {
  border: none;
  background: transparent;
  margin: 0;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  padding: 0.2rem 8rem 0.2rem 0rem;
}

button.search {
  background: transparent;
  border: none;
}

ul.header-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 1rem;
  overflow: hidden;
  flex-direction: row;
}

li.header {
  float: right;
}

li.header i {
  padding: 8px;
}

.fa-globe {
  color: #ff7733;
}

/* Subject Header DELETE */
header.subject-header {
  border: 2px solid;
  border-color: black;
}

ul.subject {
  list-style-type: none;
  overflow: hidden;
  justify-content: center;
}

li.subject {
  text-align: center;
  padding: 0.5rem 1rem;
}

/* Featured article  */

.container {
  position: relative;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0 0.2), rgba(0, 0, 0, 0.8));
}

img.feature-article {
  max-width: 100%;
  max-height: 91vh;
  overflow: hidden;
  object-fit: cover;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  text-align: left;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
}

.bottom-left h1 {
  font-family: "Dela Gothic One", cursive;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.bottom-left h2 {
  font-family: "DM Serif Text", serif;
  font-size: 3.815rem;
}

/* In the News */

div.flex.news {
  justify-content: space-between;
}

div.body {
  margin: 7.5rem 8rem;
}

h1.subheading {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 1.563rem;
  margin-bottom: 3.5rem;
}

h2.article-description {
  font-family: "Dela Gothic One", cursive;
  font-size: 1.1875rem;
  line-height: 1.5rem;
  max-width: 22rem;
  word-wrap: normal;
}
img.news-img {
  aspect-ratio: 16/9;
  width: 22rem;
  height: 14rem;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 0.875rem;
}

.vl {
  border-left: 1.5px solid;
  border-color: #381d2a;
  height: 14rem;
}

/* Mobile only styles */

@media (max-width: 768px) {
}

/* Desktop Only Styles */

/* Desktop only styles */ ;
