/* Defaults */

img,
video {
  width: 100%;
  height: auto;
}

/* header */

.flex {
  display: flex;
}

header.flex.main {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1.logo {
  padding: 1rem 2rem;
}

form.header-search {
  margin: 1rem;
  border-radius: 40px;
  border-color: black;
  border: 1px solid;
}

input.search {
  border: none;
  background: transparent;
  margin: 0;
  font-size: 1rem;
  font-family: sans-serif;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  padding: 0px 8rem 0px 0px;
}

button.search {
  background: transparent;
  border: none;
}

ul.header-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex-direction: row;
}

li.header {
  float: right;
}

li.header i {
  padding: 8px;
}

/* Subject Header */
header.subject-header {
  border: 2px solid;
  border-color: black;
}

ul.subject {
  list-style-type: none;
  overflow: hidden;
  justify-content: center;
}

li.subject {
  text-align: center;
  padding: 0.5rem 1rem;
}

/* Featured article  */

.container {
  position: relative;
  text-align: center;
  color: white;
}
img.featured-article {
  height: 50vh;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* In the News */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

img.news-img {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

/* Mobile only styles */

@media (max-width: 768px) {
}

/* Desktop Only Styles */

/* Desktop only styles */ ;
