/* Defaults */

img,
video {
  width: 100%;
  height: auto;
}

ul.header-icons {
  list-style-type: none;
  margin: 0;
  padding-right: 6rem;
  padding-top: 1rem;
  overflow: hidden;
}

input.header-search {
  margin: 1rem;
}

li {
  float: right;
}

.flex {
  display: flex;
}

header.flex {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fa-solid {
  padding: 0.75rem;
}

h1.logo {
  padding-left: 6rem;
  padding-top: 1rem;
}

/* Mobile only styles */

@media (max-width: 768px) {
}

/* Desktop Only Styles */

@media (min-width: 48em) {
  .flex > * {
    width: 100%;
  }
}

/* Desktop only styles */ ;
