/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

ul.header-icons {
  list-style-type: none;
  margin: 0;
  padding-right: 6rem;
  padding-top: 1rem;
  overflow: hidden;
}

li {
  float: left;
  size: 200%;
}

.flex {
  display: flex;
}

header.flex {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fa-solid {
  padding: 30px;
}

.logo {
  padding-left: 6rem;
  padding-top: 1rem;
}
