/* Defaults */

img,
video {
  width: 100%;
  height: auto;
}

#contact {
  margin-left: 20rem;
  margin-top: 4rem;
}
html {
  background-color: #faf9f2;
  color: #4e273a;
}

p {
  font-family: "Raleway", sans-serif;
}

.gothic {
  font-family: "Dela Gothic One", cursive;
  font-size: 1.1875rem;
  line-height: 1.5rem;
  font-weight: normal !important;
}

.dm {
  font-family: "DM Serif Text", serif;
}

.h4 {
  font-size: 0.8rem;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:link {
  text-decoration: none;
  color: inherit;
}

/* header */

.flex {
  display: flex;
}

nav.grid.main {
  grid-template-columns: 0.5fr 2fr 0.5fr;
  align-items: center;
  justify-content: space-between;
  column-width: auto;
}

form.search {
  margin: 1rem;
  border-radius: 40px;
  border-color: #4e273a;
  border: 1.75px solid;
}

form.hero-search {
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: center;
}

input.search {
  border: none;
  background: transparent;
  margin: 0;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

button.search {
  background: transparent;
  border: none;
}

ul.header-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 1rem;
  overflow: hidden;
  flex-direction: row;
  color: #4e273a;
}

ul.header-icons:active {
  color: #4e273a;
}

li.header {
  float: right;
}

li.header i {
  padding: 0.7rem;
}

.fa-globe,
.fa-magnifying-glass {
  color: #ff7733;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #faf9f2;
}

#menu {
  background-color: #4e273a;
  margin-top: 2rem;
  z-index: 2;
  right: 0px;
  position: absolute;
  max-height: 100vw;
  color: #faf9f2;
  padding: 8rem 1rem 3rem 4rem;
  transform: translateX(100%);
  transition: all 300ms;
}

#menu:active {
  display: block;
  transform: translateX(0);
}

.nav-item.hl {
  border-color: #faf9f2;
  width: 11rem;
  border-top: 1.5px solid;
  margin-bottom: 1.3rem;
  margin-top: 0.4rem;
  float: right;
}

#menu li.nav-item {
  text-align: right;
  padding-right: 2rem;
}

.fa-xmark {
  color: #faf9f2;
  float: right;
  margin: 1rem 2rem;
}
/* Hero */

header.hero-desktop {
  min-height: 91vh;
  background-image: linear-gradient(transparent 50%, black),
    url("../Images/Dune.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-mobile h1 {
  margin-top: 16rem;
  font-size: 3.052rem;
  line-height: 3.188rem;
  text-align: center;
}
#showme {
  background-color: #ff7733;
  padding: 1rem;
  margin: 1rem;
  float: center;
}
/* Featured article  */

.bottom-left {
  position: absolute;
  text-align: left;
  color: #faf9f2;
}

.bottom-left h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.bottom-left h1 {
  font-size: 3.815rem;
  font-weight: normal !important;
}

/* Body */

div.grid.news {
  column-gap: 5.2rem;
}

h2.subheading {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 1.563rem;
  margin-bottom: 3rem;
}

h3.article-description {
  max-width: 22rem;
  word-wrap: normal;
}
img.news-img {
  aspect-ratio: 16/9;
  width: 22rem;
  height: 14rem;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 0.875rem;
}

.news-vl {
  border-left: 1.5px solid;
  border-color: #4e273a;
  height: 14rem;
  width: 1.5px !important;
}

card div.hl {
  border-top: 1.5px solid;
  border-color: #4e273a;
  width: 20rem;
  margin-top: 1.3rem;
}

.body-2,
.body-3 {
  margin-top: 9rem;
}

.body-2 div.grid {
  justify-content: space-between;
  align-items: center;
  column-gap: 1, 5rem;
}

.body-2 h4 {
  color: #ff7733;
}

.body-2 h3 {
  max-width: 20rem;
  word-wrap: normal;
}

div.featured-images {
  gap: 2.5rem;
}

.img-bottom-left {
  max-width: 21rem;
  word-wrap: normal;
}

#square-1 {
  background-image: linear-gradient(transparent 50%, black),
    url("../Images/Heart_Nebula.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 18rem;
  overflow: hidden;
  object-fit: cover;
  color: #faf9f2;
  justify-content: flex-start;
  align-items: flex-end;
  bottom: 4px;
}

#square-2 {
  background-image: linear-gradient(transparent 60%, black),
    url("../Images/O'Neil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 18rem;
  overflow: hidden;
  object-fit: cover;
  color: #faf9f2;
  justify-content: flex-start;
  align-items: flex-end;
  bottom: 4px;
}

#tall {
  background-image: linear-gradient(transparent 60%, black),
    url("../Images/MigrantMother.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 18rem;
  overflow: hidden;
  object-fit: cover;
  color: #faf9f2;
  justify-content: flex-start;
  align-items: flex-end;
  bottom: 4px;
  grid-row-end: span 2;
  width: 1fr;
  height: 39.5rem;
  overflow: hidden;
  object-fit: cover;
}

#long {
  background-image: linear-gradient(transparent 60%, black),
    url("../Images/Gowanus_New_York_October.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 18rem;
  overflow: hidden;
  object-fit: cover;
  color: #faf9f2;
  justify-content: flex-start;
  align-items: flex-end;
  bottom: 4px;
  grid-column-end: span 2;
  height: 19rem;
}

/* Footer */

footer {
  background-color: #4e273a;
  font-family: "Raleway", sans-serif;
  padding: 3rem;
  color: #faf9f2;
}

footer h1 {
  font-size: 1.953rem;
}

/* Article page */

.mobile-article-title {
  margin-top: 1rem !important;
}

img.details-image {
  width: 19.625rem;
  height: 23.125rem;
  object-fit: cover;
  margin-bottom: 0.4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
}

h4.caption {
  text-align: center;
  margin-bottom: 1.625rem;
}

table {
  margin-left: 4.5rem;
  border-left: 1.5px solid;
  border-color: #4e273a;
  text-align: left;
}
th {
  font-family: "Dela Gothic One", cursive;
  font-weight: normal !important;
  font-size: 0.8rem;
  padding-left: 0.625rem;
}

td {
  font-family: "Raleway", sans-serif;
  color: #3e6990;
  font-size: 0.8rem;
  padding-left: 2rem;
  max-width: 9rem;
  word-wrap: normal;
}

img.img-1 {
  width: 19.625rem;
  height: 10.713rem;
  overflow: hidden;
  object-fit: cover;
  margin-top: 7.688rem;
  margin-bottom: 0.4rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

img.img-2 {
  width: 19.625rem;
  height: 39.5rem;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 0.4rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

div.spacer {
  min-height: 1rem;
}

div.article-hl {
  border-top: 1.5px solid;
  border-color: #4e273a;
  width: 15.375rem;
  margin-top: 1.3rem;
}

iframe {
  margin-top: 2rem;
}

#plot {
  margin-top: 3.5rem;
}

h2.subheading {
  margin-bottom: 1rem;
}

.contents-vl {
  border-left: 1.5px solid;
  border-color: #4e273a;
  height: 14rem;
}

/*DROPDOWN*/
#dropdown {
  display: none;
}

#dropdown:target {
  display: block;
}

#dropdown-2 {
  display: none;
}

#dropdown-2:target {
  display: block;
}

.dropdown p {
  background-color: #4e273a;
  margin-top: 0.5rem;
  padding: 0.75rem 0 0.75rem 0.75rem;
  max-width: 37.375rem;
  color: #faf9f2;
  font-size: 1.1875rem;
  font-weight: normal !important;
}
.dropdown .fa-solid {
  color: #ff7733;
}
.dropdown .fa-angle-up {
  padding: 1rem;
}

#references {
  margin-top: 3rem;
}

#dropdown,
#dropdown-2 {
  background-color: #faf9f2;
  max-width: 37.375rem;
}

/* Mobile only styles */

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  html {
    width: 100%;
  }

  div.body,
  header,
  main#desktop-full-article,
  #contact {
    align-content: center;
    margin: 1rem 2rem;
  }

  img.details-image {
    margin-left: 1rem !important;
  }

  table {
    margin-left: 2rem;
  }

  img.img-1 {
    margin-left: 1rem;
  }

  .img-2-h4 {
    padding-bottom: 3rem;
  }

  img.img-2 {
    margin-left: 1rem;
  }

  main#desktop-full-article.grid {
    grid-template-columns: 1fr;
  }

  .grid.mobnav {
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.625rem;
  }

  h1.logo {
    padding: 1rem 2rem;
    font-size: 1.953rem;
    color: #4e273a;
  }

  input.search {
    padding: 0.2rem 2rem 0.2rem 0rem;
  }
  .invisible-mobile {
    display: none;
  }

  .body-1 {
    margin-top: 55vh;
  }

  .news card h3 {
    margin-bottom: 3rem;
  }

  .day-event h4 {
    margin-top: 2rem;
  }

  .feat-img {
    margin-bottom: 3rem;
  }

  h1.article-title {
    font-size: 2.5rem;
    margin-bottom: ;
  }

  #article-text p,
  #article-text li {
    max-width: 37.375rem;
  }

  p.contact-text {
    padding-bottom: 25rem;
  }

  iframe {
    height: 95%;
    width: 95%;
  }
}

/* Desktop Only Styles */
@media (min-width: 48em) {
  .flex > * {
    width: 100%;
  }

  div.body {
    margin: 7.5rem 8rem;
  }

  main#desktop-full-article {
    margin-top: 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }

  main#desktop-full-article.grid {
    grid-template-columns: 1fr 2fr;
  }

  html {
    max-width: 1920;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem;
  }

  h1.logo {
    padding: 1rem 2rem;
    font-size: 1.953rem;
    color: #4e273a;
  }

  .invisible-desktop {
    display: none;
  }

  input.search {
    padding: 0.2rem 8rem 0.2rem 0rem;
  }

  .bottom-left {
    bottom: 8px;
    left: 16px;
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
  }

  .img-bottom-left {
    padding-bottom: 1.125rem;
    padding-left: 1rem;
  }

  h1.article-title {
    font-size: 3.815rem;
  }

  #article-text p {
    max-width: 37.375rem;
  }
}
